body {
    background-color: lightgrey;
    color: rgb(10, 10, 10);
    font-family: Georgia;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0; 
    overflow: hidden; 
}


body::before {
    content: "";
    background-image: url(''); 
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
}

h1 {
    color: rgb(10, 10, 10);
    font-family: fantasy;
}

div {
    color: rgb(10, 10, 10);
    margin: auto; 
}

h2 {
    text-align: center;
}

select {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.boton_enviar {
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: white; 
}
