body {
    background-color: lightgrey;
    color: rgb(10, 10, 10);
    font-family: Georgia;
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: rgb(77, 63, 63);
    font-family: fantasy;
}


label {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 85%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: calc(85% + 2px); 
    margin-bottom: 15px;
}

textarea {
    resize: vertical;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

p {
    font-weight: bold;
}

.boton_enviar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.boton_enviar:hover {
    background-color: #45a049;
}

.efecto{
    border-radius: 50%;
    background: rgb(255, 255, 255);
    opacity: .3;
  
    position: absolute;
    bottom: -150vh;
  
    animation: efectos 6s linear infinite;
  }
  
  .efecto:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 6s;
    animation-delay: 2s;
  }
  
  .efecto:nth-child(2){
    width: 100px;
    height: 100px;
    left: 30%;
    animation-duration: 6s;
    animation-delay: 6s;
  }
  
  .efecto:nth-child(3){
    width: 60px;
    height: 60px;
    left: 50%;
    animation-duration: 6s;
    animation-delay: 4s;
  }
  
  .efecto:nth-child(4){
    width: 70px;
    height: 70px;
    left: 75%;
    animation-duration: 6s;
    animation-delay: 5s;
  }
  
  .efecto:nth-child(5){
    width: 80px;
    height: 80px;
    left: 85%;
    animation-duration: 6s;
    animation-delay: 1s;
  }
  
  @keyframes efectos {
    0%{
      bottom: 0;
      opacity: 0;
    }
    30%{
      transform: translate(30px);
    }
    70%{
      opacity: .5;
    }
    100%{
      bottom: 100vh;
      opacity: 0;
    }
  }